body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h3,
.filters legend {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.button:hover{
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: #e17a7c;
}

.partition {
  display: block;
  width: 100%;
  border: 1px solid #eeeeee;
}




.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-top: 50px;
  margin-right: 176px;
}

.site-navigation,
.basket {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 600px;
}

.basket {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 160px;
  margin-left: auto;
}

.site-navigation a,
.basket a {
  display: block;
  margin-top: 65px;
  padding: 15px 24px;
  color: #000000;
}

.site-navigation a:hover,
.basket a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.basket a:active {
  color: #a6a6a6;
}

a.basket-link {
  position: relative;
  padding-right: 0;
  padding-left: 50px;
}

a.basket-link::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 22px;
  left: 10px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-slider {
  background-color: #eeeeee;
  margin-bottom: 80px;
}

.main-slider .slider {
  position: relative;
  min-height: 413px;
  padding-top: 80px;
}

.main-slider .slide-description {
  width: 380px;
}

.slider-image {
  position: absolute;
  right: 30px;
  bottom: 0;
}

.slider-image-1 {
  width: 698px;
  height: 413px;
}

.slider-image-2 {
  width: 663px;
  height: 430px;
}

.slider-image-3 {
  width: 759px;
  height: 411px;
}

.main-slider .slider-2,
.main-slider .slider-3 {
  display: none;
}

.slide-title,
.page-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: none;
}

.page-title {
  width: 760px;
  margin: 0 auto;
  padding-bottom: 100px;
}




.catalog {
  width: 760px;
}

.catalog-columns {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.catalog-item-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 616px;
  margin-right: 40px;
  margin-bottom: 33px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-popup {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #eeeeee;
}

.catalog-popup p {
  color: #666666;
}

.pagination-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  width: 50px;
  height: 50px;
  margin-right: 11px;
  line-height: 50px;
  text-align: center;
  border-radius: 2px;
  background-color: #eeeeee;
}

.pagination-item-next {
  width: 260px;
}

.pagination-list a {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.advantages {
  margin-bottom: 40px;
}

.advantages-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.advantages-item {
  width: 300px;
  margin-right: 100px;
}

.advantages-item p {
  width: 260px;
  margin: 0;
  padding: 0;
}

.advantages-item-title {
  margin: 22px 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
}

.studio-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 80px;
}

.basic-descr {
  width: 660px;
}

.short-descr {
  width: 360px;
  margin-left: auto;
}

.basic-descr-title {
  margin: 35px 0;
  font-size: 45px;
  line-height: 45px;
}

.basic-descr-subtitle,
.short-descr-subtitle {
  font-size: 16px;
  line-height: 24px;
}

.basic-descr-subtitle {
  margin: 33px 0 25px;
}

.short-descr-subtitle {
  margin: 30px 0 25px;
  padding-left: 17px;
}

.basic-descr-list,
.short-descr-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.short-descr-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.basic-descr-list li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 20px;
}

.basic-descr-list li::before {
  content: "";
  position: absolute;
  width: 24px;
  top: 50%;
  left: 1px;
  border: 1px solid #fb565a;
}

.short-descr-list li {
  margin-right: 20px;
  line-height: 18px;
}

.short-descr .strong {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
  font-family: "Roboto", "Arial", sans-serif;
}

.short-descr-list .super {
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  vertical-align: top;
}

.partners-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  margin-top: 45px;
  margin-right: 40px;
  margin-bottom: 45px;
  margin-left: 30px;
}

.gallery-partners {
  margin: 0;
  opacity: 0.2;
}

.gray-partition {
  position: absolute;
  height: 50px;
  border: 1px solid #eeeeee;
}

.gray-partition-1 {
  left: 260px;
  bottom: 25%;
}

.gray-partition-2 {
  left: 560px;
  bottom: 25%;
}

.gray-partition-3 {
  left: 860px;
  bottom: 25%;
}

.gallery-partners:hover {
  opacity: 1;
}

.gallery-partners:active {
  opacity: 0.2;
}

.catalog-navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.catalog-navigation-title {
  margin: 0;
  padding: 0;
  width: 160px;
  margin-right: 240px;
}

.catalog-navigation-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-navigation-list a {
  margin-right: 28px;
}

.catalog-navigation a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #b2b2b2;
}

.catalog-navigation a:hover {
  color: #666666;
}

.catalog-navigation a:active {
  color: #000000;
}

.catalog-navigation-controls {
  width: 40px;
}

.contacts {
  margin-top: 80px;
}

.contacts .maps {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

.contacts-info {
  position: absolute;
  width: 220px;
  top: 54px;
  left: 100px;
  padding: 50px;
  background-color: #fff;
}

.contacts-info-title {
  margin: 0;
  margin-bottom: 25px;
}

.contacts-info p {
  margin: 0;
  margin-bottom: 15px;
}

.contacts-info a {
  display: inline-block;
  margin-bottom: 35px;
}

.contacts-info p,
.contacts-info a {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  font-family: "Roboto", "Arial", sans-serif;
}

.filters {
  width: 260px;
}

.filters .filters-list {
  list-style: none;
}




.main-footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.footer-social {
  margin-right: 140px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;
  width: 260px;
  list-style: none;
}

.social-button {
  display: block;
  width: 79px;
  height: 79px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: #e1e1e1;
  text-align: center;
  line-height: 88px;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #e74246;
  color: #e37376;
}

.discounts-title {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 70px;
  font-size: 36px;
  line-height: 36px;
}

.discounts p {
  margin: 0;
}
